<html>

<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #header {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 500px;
    z-index: -999;
  }

  .image_header {
    width: 300px;
    transition: 0.2s;
  }
</style>

<body>
  <div id="header">
    <div class="image_header">
      <div id='div-gpt-ad-mega_billboard' class="image_header"'>
      </div>
    </div>
  </div>
</body>

</html>