<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    #header {
      background-color: #f1f1f1;
      padding-top: 50px;
      padding-bottom: 50px;
      color: black;
      text-align: center;
      font-size: 90px;
      font-weight: bold;
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #image_header {
      width: 300px;
      transition: 0.2s;
    }
  </style>
</head>

<body>
  <div id="header">
    <img id="image_header"
      src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg"
      alt="Flowers in Chania">
  </div>

  <div id="spacer" style="margin-top:200px;padding:15px 15px 1000px;font-size:30px"></div>
</body>

</html>